
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brand backgrounds & details */
body {
  background: radial-gradient(ellipse 90% 60% at 50% 12%, #f7f9fd 80%, #edeaff 100%);
  font-family: Inter, system-ui, sans-serif;
}

.hero-gradient {
  background: linear-gradient(99deg, #f0f8ff 0%, #eceaff 50%, #fff 100%);
}

.text-gradient {
  background: linear-gradient(96deg,#352cf6 16%,#61e5fc 67%,#97ff5c 82%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
